@font-face {
  font-family: "Geomanist";
  src: url(/fonts/Geomanist.woff2?b4a81ef037815ca46e761e85da4e3b7c) format("woff2"), url(/fonts/Geomanist.woff?db94554d2fd80eaaae4e382b19f21d51) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.v-application .v-subheader,
.v-application .v-card__title,
.v-application .display-1, .v-application .display-2, .v-application .display-3,
.v-application .title,
.v-application h1, .v-application h2, .v-application h3, .v-application h4, .v-application h5, .v-application h6 {
  font-family: Geomanist, serif !important;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}
