@font-face {
	font-family: 'Geomanist';
	src: url('./assets/fonts/Geomanist.woff2') format('woff2'),
	url('./assets/fonts/Geomanist.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html, body {
    overflow: auto;
}
@media all and (max-width: 767px) {
    html, body {
        overscroll-behavior-y: none;
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    #app {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
    }
    .v-application--wrap {
        min-height: auto;
    }
}

.v-main {
    transition: none;
}

.v-application {
	.v-subheader,
	.v-card__title,
	.display-1, .display-2, .display-3,
	.title,
	h1,h2,h3,h4,h5,h6 {
		font-family: Geomanist, serif !important;
	}
}

.h-100 { height: 100% }
.w-100 { width: 100% }

.opacity-0 { opacity: 0 }
.opacity-25 { opacity: 0.25 }
.opacity-33 { opacity: 0.33 }
.opacity-50 { opacity: 0.50 }
.opacity-66 { opacity: 0.66 }
.opacity-75 { opacity: 0.75 }
.opacity-100 { opacity: 1 }

.no-select, .no-select * {
    user-select: none;
}

.two-lines-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media all and (max-width: 767px) {
    .v-tooltip__content {
        display: none !important;
    }
    .v-snack__wrapper {
        min-width: auto;
        width: 100%;
    }
}

.text-capitalize-first:first-letter {
    text-transform: capitalize
}


.v-application.theme--dark {
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px var(--v-primary-base) inset !important;
        -webkit-text-fill-color: white !important;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin: 0 0.5rem;
    }
}

.v-application .v-btn.v-btn--height-auto,
.v-btn.v-size--height-auto {
    height: auto !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
